html body
{
    margin: 0;
}

.container{
    width: auto;
    background-color: silver;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
}
.top-nav {
    margin-bottom: 1rem;
    width: auto;
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 1rem;
    margin-left: 0;
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
}
.main {
    display: inline-block;
    height: auto;
    width: auto;
    margin-right: 0;
    padding-right: 2rem;
    background-color: red;
}
.sub-content {
    display: inline-block;
    margin: 1rem 0 1rem 1rem;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    margin: 1rem;
    margin-bottom: 4rem;
    height: 120px;
    width: 42rem;
    background-color: purple;
}
